
        body {
            background: url('img.jpg');
            margin: 0px;
            padding: 0px;
            color: white;
            font-family: 'Baloo Bhaijaan 2', cursive;
        }

        .left {
            /* border: 2px solid red; */
            position: absolute;
            display: inline-block;
            top: 7px;
            left: 28px;
        }

        .left img {
            filter: invert(100%);
            height: 100px;
            width: 118px;
        }

        .left div {
            text-align: center;
            line-height: 0px;
            font-size: 19px;
        }

        .mid {
            /* border: 2px solid green; */
            width: 39%;
            margin: 29px auto;
        }

        .right {
            /* border: 2px solid blue; */
            position: absolute;
            display: inline-block;
            top: 38px;
            right: 26px;
        }

        .navbar {
            display: inline-block;
        }

        .navbar li {
            display: inline-block;
        }

        .navbar li a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            padding: 34px 12px;
        }

        .navbar li a:hover,.navbar li a.active {
            color: #9e9494;
            text-decoration: underline;
        }

        .btn {
            margin: 0px 9px;
            padding: 5px 11px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 15px;
            background-color: black;
            color: white;
            border: 2px solid grey;
            font-family: 'Baloo Bhaijaan 2', cursive;

        }

        .btn:hover {
            background-color: gray;
        }

        .container {
            border: 2px solid white;
            margin: 113px 80px;
            padding: 50px;
            width: 36%;
            border-radius: 10px;
        }

        .form-group input {
            display: block;
            margin: 6px auto;
            padding: 0px 3px;
            border: 2px solid gray;
            border-radius: 9px;
            text-align: center;
            width: 68%;
            font-size: 21px;
            font-family: 'Baloo Bhaijaan 2', cursive;
        }
        .container h1{
            margin: 16px;
            font-size: 28px;
            text-align: center;
        }
        .container button{
            width:  76%;
            margin:  13px auto;
            display: block;
        }